// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.house_rooms_floor { 
  margin-bottom: 0;
}
.house_rooms_facility_type {
  margin-bottom: 0;
}
.house_rooms_note {
  margin-bottom: 0;
}
